@using Hotel_MVC2
@model Admin
@* @{
    Layout = null;
} *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Profile</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/myCss/indexcss.css" /> *@
</head>


    
    
   <dl>
    <br><br>
    <h2><marquee direction = "left">Admin Details</marquee></h2>

       <dt>
            <h4>@Html.DisplayNameFor(model => model.AdminId) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.AdminId)</h4>
        </dd><br>
    
         <dt>
            <h4>@Html.DisplayNameFor(model => model.FirstName) :</h4>
        </dt>
         <dd>
            <h4>@Html.DisplayFor(model => model.FirstName) </h4>
        </dd><br>
        <dt>
            <h4>@Html.DisplayNameFor(model => model.LastName) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.LastName) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Email) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Email) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Password) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Password) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Age) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Age) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Address) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Address) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.PhoneNumber) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Gender) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Gender) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.DateCreated) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.DateCreated) </h4>
        </dd><br>
   </dl><br><br>

   <button style="background-color:darkblue;"><a asp-controller= "Admin" asp-action="Admins">Back to List</a></button>