@model Admin
@using Hotel_MVC2.Models.Enum


<h3>Edit Admin</h3>
<div asp-controller= "Admin" asp-action="UpdateAdmin" style="font-size: 130%;">
    <hr />
    <form asp-action="UpdateAdmin">
        <input asp-for = "AdminId" hidden/>
        <div> 
            <div>
                <label asp-for = "AdminId"></label>
                <input asp-for = "AdminId" readonly  class= "form-control"/>
                
            </div>
            <div>
                <label asp-for = "FirstName"></label>
                <input asp-for = "FirstName"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "LastName"></label>
                <input asp-for = "LastName"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Address"></label>
                <input asp-for = "Address"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Age"></label>
                <input asp-for = "Age"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Gender"></label>
                <input asp-for = "Gender"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Email"></label>
                <input asp-for = "Email"  class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Password"></label>
                <input asp-for = "Password"  class= "form-control"/>
        </div><br>
            <div>
                <label asp-for = "DateCreated"></label>
                <input asp-for = "DateCreated"  class= "form-control"/>
            </div> <br> <br>
    @* <dl class="row">
        <dt class="col-sm-2">
            Staff Id :
        </dt>
        <dd class="col-sm-10">
            @Model.StaffId
        </dd>
        <dt class="col-sm-2">
            First Name:
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
          <dt class="col-sm-2">
            Last Name:
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
         <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
         <dt class="col-sm-2">
            Age:
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
         <dt class="col-sm-2">
            Gender:
        </dt>
        <dd class="col-sm-10">
            @Model.MaritalStatus
        </dd>
         <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
         <dt class="col-sm-2">
            Password:
        </dt>
        <dd class="col-sm-10">
            @Model.PassWord
        </dd>
         <dt class="col-sm-2">
            Date Created:
        </dt>
        <dd class="col-sm-10">
            @Model.DateCreated
        </dd>
        
        </dl>  *@
     <div class="form-group ">
            <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
        </div><br>

        @* <input type="submit" value="DeleteAdmin" class="btn btn-danger" /> | *@
        <a asp-controller="Admin" asp-action="Admins">Back to List</a>
    </form>
</div>